<div class="row content">
    <div class="col-sm-12">
        <div class="row instances">
            <div class="col-sm-12 title-cont">
                <h3 class="title">New Instance</h3>
            </div>
            <div class="col-sm-12 breadcrumb-cont">
                <ul>
                    <li>
                        <a [routerLink]="['/panel']" routerLinkActive="router-link-active" >Home</a>
                    </li>
                    <li>
                        <a>New</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-8 text-center mx-auto">
                <h1>Jump start</h1>
                <p>To help you get started faster, we have created the following modules with default setting to reduce your setup
                        time. Click on the module to view and edit the default configuration</p>
            </div>
            <div class="col-sm-8 mx-auto">
                <div class="row content-wrapper">
                    <div class="col-sm-4 instance-card-cont">
                        <div class="instance-card">
                            <div class="square">
                                <img src="assets/icons/coins.svg" alt="coins">
                                <h4 class="instance-title">Data Engine</h4>
                                <p class="instance-description">Default module configured to
                                    connect to pre-defined core banking
                                    data systems
                                    </p>
                            </div>
                            <button class="btn btn-bluebox2 mr-2" [routerLink]="['/panel/configmodule/dataengine']">Get Started</button>
                        </div>
                    </div>
                    <div class="col-sm-4 instance-card-cont">
                        <div class="instance-card">
                            <div class="square">
                                <img src="assets/icons/cogs.svg" alt="cogs">
                                <h4 class="instance-title">Rules Engine</h4>
                                <p class="instance-description">Module configured with 12 classic
                                        scenarios with default methodology</p>
                            </div>
                            <button class="btn btn-bluebox2 mr-2" [routerLink]="['/panel/configmodule/rulesengine']">Get Started</button>
                        </div>
                    </div>
                    <div class="col-sm-4 instance-card-cont">
                        <div class="instance-card">
                            <div class="square">
                                <img src="assets/icons/ic_description_24px.svg" alt="ic_description_24px">
                                <h4 class="instance-title">Case Management</h4>
                                <p class="instance-description">Module configured with default
                                        investigation policy and procedure
                                        </p>
                            </div>
                            <button class="btn btn-bluebox2 mr-2" [routerLink]="['/panel/configmodule/casemanagement']">Get Started</button>
                        </div>
                    </div>
                </div>                
            </div>
        </div>                
    </div>
</div>