<div class="row login-fullpage">
    <div class="col-sm-12">
        <div class="row justify-content-center login-container">
            <div class="col-sm-3">
                <img src="assets/logo/wpg-logo.svg" alt="logo">
            </div>
        </div>
        <div class="row justify-content-center login-container mt-4">
            <div class="col-sm-3">
                <form [formGroup]="loginForm" (submit)="login()">
                    <div class="form-row">
                        <div class="col-sm-12">
                            <div *ngFor="let error of errorList" class="cross-validation-error-message alert alert-danger">
                                {{error}}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Your Email Address" formControlName="email">
                                <mat-error *ngIf="loginForm.get('email').hasError('email')" class="text-right">invalid</mat-error>
                                <mat-error *ngIf="loginForm.get('email').hasError('required')" class="text-right">required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-sm-12">
                            <mat-form-field class="w-100">
                                <input matInput type="password" placeholder="Password" formControlName="password">
                                <mat-error *ngIf="loginForm.get('password').hasError('required')" class="text-right">required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 remember-form-cont custom-control custom-checkbox">                                    
                                    <input type="checkbox" class="custom-control-input checkbox-bluebox" id="remember" formControlName="remember">
                                    <label class="custom-control-label label-bluebox-np" for="remember">Remember me</label>
                                </div>
                                
                                <div class="col-sm-6 forgot-new-cont">
                                    <a class="modal-toggle" (click)="resetpasswordModal.open()">Forgot password</a>
                                    <a class="modal-toggle" (click)="newuserModal.open()">New user</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-sm-12 pl-2">
                            <button type="submit" class="btn btn-bluebox">Login</button>
                        </div>
                    </div>            
                </form>
            </div>
        </div>
    </div>

    <ngx-smart-modal #resetpasswordModal identifier="resetpasswordModal" class="modal-form-cont">
        <blx-forgotpassword [modalController]="resetpasswordModal"></blx-forgotpassword>
    </ngx-smart-modal>

    <ngx-smart-modal #newuserModal identifier="newuserModal" class="modal-form-cont">
        <blx-register [modalController]="newuserModal"></blx-register>
    </ngx-smart-modal>


</div>