<div class="row justify-content-center panel-navbar">
    <div class="col-sm-1 logo-cont">
        <a [routerLink]="['/panel/']" routerLinkActive="router-link-active" >
            <img src="assets/logo/Logo.png" alt="logo">
        </a>
    </div>
    <div class="col-sm-2 workplace-cont">
        <div ngbDropdown class="d-inline-block">
            <a class="workplace-dropdown" ngbDropdownToggle>{{workplace}}</a>
            <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="setWorkplace('Development')">Development</button>
                <button ngbDropdownItem (click)="setWorkplace('Production')">Production</button>
                <button ngbDropdownItem (click)="setWorkplace('Testing')">Testing</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6 title-cont">
        <h1 class="text-center">blueBox</h1>
    </div>
    <div class="col-sm-3 noti-user-cont">

        <div ngbDropdown class="d-inline-block notifications-container">
            <a class="notifications" href="javascript:void()" ngbDropdownToggle>
                <i class="material-icons">notifications_none</i>
                <span *ngIf="notifications_number > 0" class="notifications_number">{{notifications_number}}</span>
            </a>
            <div ngbDropdownMenu>
                <div class="notification-list">
                    <div class="title">You have {{notifications_number}} notifications</div>
                    <div class="notification-wrapper">
                        <ul>
                            <li *ngFor="let item of notificationsList">
                                <span *ngIf="item.type == 1" class="icon green"><i class="material-icons">chat_bubble</i></span>
                                <span *ngIf="item.type == 2" class="icon green"><i class="material-icons">person</i></span>
                                <span *ngIf="item.type == 3" class="icon red"><i class="material-icons">shopping_cart</i></span>
                                <span *ngIf="item.type == 4" class="icon yellow"><i class="material-icons">playlist_add_check</i></span>
                                <span *ngIf="item.type == 5" class="icon red"><i class="material-icons">warning</i></span>
                                <span class="title">{{item.title}}</span>
                                <span class="time">{{item.time}}</span>
                            </li>
                        </ul>
                    </div>
                    <a class="bottom">View All Notifications</a>
                </div>
            </div>
        </div>

        <div ngbDropdown class="d-inline-block">
            <a class="user-dropdown" ngbDropdownToggle>
                <span class="avatar">
                    <img src="assets/logo/img_avatar.png" alt="">
                </span>
                <span class="user-name">Bryan Chan</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Profile</button>
                <button ngbDropdownItem>Settings</button>
                <button ngbDropdownItem>Log out </button>
            </div>
        </div>
        
    </div>
</div>