<!-- <div class="dashboard-card card-right">
    <div class="card-title">
        <span class="title">
            <i class="material-icons">tune</i>
            My Tasks <span class="helptext">- Summary of Tasks</span>
        </span>
        <div class="actions">
            <a><i class="material-icons">visibility</i></a>
            <a><i class="material-icons">keyboard_arrow_up</i></a>
            <a><i class="material-icons">close</i></a>
        </div>
    </div>
    <div class="card-body">
        <div class="task-item" *ngFor="let item of TasksList">
            <div class="title-cont">
                <p class="title">{{item.title}}</p>
                <span class="percentage">{{ item.percentage }}%</span>
            </div>
            <div class="progress">
                <ngb-progressbar type="{{parseType(item.type)}}" [value]="item.percentage"></ngb-progressbar>
            </div>
        </div>
    </div>
</div> -->

<div class="trafic-card" *ngFor="let item of TasksList">
    <p class="m-b-10">{{item.title}} <span class="f-right"><i class="fa fa-caret-up m-r-10"></i>{{ item.percentage }}%</span></p>
    <div class="progress {{parseType(item.type)}}">
        <div class="progress-bar bg-c-{{parseType(item.type)}}" [style.width]="item.percentage+'%'"></div>
    </div>
</div>