<h2 class="modal-title">New user</h2>
<form class="modal-form" [formGroup]="registerForm" (submit)="register()">
    <div class="form-row">
        <label class="col-sm-12 label-bluebox-np modal-label" for="name">FIRST NAME</label>
        <div class="col-sm-12 modal-input-cont">
            <i class="material-icons">account_circle</i>
            <input type="text" class="form-control input-bluebox" id="name" placeholder="Your First Name" formControlName="name">
        </div>
    </div>
    <div class="form-row">
        <label class="col-sm-12 label-bluebox-np modal-label" for="surname">LAST NAME</label>
        <div class="col-sm-12 modal-input-cont">
            <i class="material-icons">account_circle</i>
            <input type="text" class="form-control input-bluebox" id="surname" placeholder="Your Last Name" formControlName="surname">
        </div>
    </div>
    <div class="form-row">
        <label class="col-sm-12 label-bluebox-np modal-label" for="new-email">USERNAME EMAIL</label>
        <div class="col-sm-12 modal-input-cont">
            <i class="material-icons">email</i>
            <input type="email" class="form-control input-bluebox" id="new-email" placeholder="Your Username Email" formControlName="email">
        </div>
    </div>
    <div class="form-row">
        <label class="col-sm-12 label-bluebox-np modal-label" for="new-password">PASSWORD</label>
        <div class="col-sm-12 modal-input-cont">
            <i class="material-icons">https</i>
            <input type="password" class="form-control input-bluebox" id="new-password" placeholder="Create Your Password" formControlName="password">
        </div>
    </div>
    <div class="form-row">
        <label class="col-sm-12 label-bluebox-np modal-label" for="type">USER TYPE</label>
        <div class="col-sm-12 modal-input-cont">
            <i class="material-icons">group</i>
            <select id="type" class="form-control input-bluebox" formControlName="type">
                <option value="">Your User Type Selection</option>
                <option value="t1">Tech Data Analyst (Technology I)</option>
                <option value="t2">Tech Senior Data Analyst (Technology II)</option>
                <option value="t3">Tech Senior Manager (Technology III)</option>
                <option value="c1">Compliance Data Analyst (Compliance I)</option>
                <option value="c2">Compliance Officer (Compliance II)</option>
                <option value="c3">Compliance Senior Officer (Compliance III)</option>
                <option value="o1">Ops Investigator (Operations I)</option>
                <option value="o2">Ops Team Lead (Operations II)</option>
                <option value="o3">Ops Senior Manager (Operations III)</option>
            </select>
        </div>
    </div>

    <div class="form-row mt-4">
        <button type="submit" class="btn btn-bluebox">Submit</button>
    </div>
</form>