<div class="row content">
    <div class="col-sm-12">
        
        <div class="row">
            <div class="col-sm-12 title-cont">
                <h3 class="title">Case Management Module</h3>
            </div>
            <div class="col-sm-12 breadcrumb-cont">
                <ul>
                    <li>
                        <a [routerLink]="['/panel/instances/view']" routerLinkActive="router-link-active" >Home</a>
                    </li>
                    <li>
                        <a>Case Management</a>
                    </li>
                </ul>
                <a class="btn btn-bluebox-edit-top {{unlockEdit ? 'valid' : ''}}" (click)="editDetail()"><i class="material-icons">edit</i> module</a>
            </div>

            <div class="col-sm-12">
                <div class="row content-wrapper newModuleCont">
                    <div class="col-sm-4">
                        <h4 class="form-title">Details for Case Management modules</h4>
                        <form [formGroup]="newModuleForm" class="newmoduleForm" (submit)="submitForm()">
                            <div class="form-group">
                                <label>Case Management module name</label>
                                <mat-form-field class="w-100">
                                    <input matInput formControlName="moduleName" (change)="validateForm()">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label>Case Management module description</label>
                                <mat-form-field class="w-100">
                                    <textarea  matInput formControlName="moduleDescription" (change)="validateForm()"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label>Select instance</label>
                                <mat-form-field class="w-100">
                                    <input matInput formControlName="instance" (change)="validateForm()">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label>Select policy and procedure</label>
                                <mat-form-field class="w-100">
                                    <mat-select formControlName="policeprocedure" (selectionChange)="validateForm()">
                                        <mat-option *ngFor="let item of policeprocedureList" [value]="item.id">{{item.value}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <button type="button" class="btn btn-bluebox-secondary {{btnViewCases ? 'valid' : ''}}">View cases</button>
                            <button type="submit" class="btn btn-bluebox-secondary ml-3 {{unlockCreate ? 'valid' : ''}} {{btnHidden ? 'hidden' : ''}}">Update</button>
                        </form>
                    </div>
                    <div class="col-sm-8">
                        
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>