<div class="row content">
    <div class="col-sm-12">
        
        <div class="row new-module-engine">
            <div class="col-sm-12 title-cont">
                <h3 class="title">New Module</h3>
            </div>
            <div class="col-sm-12 breadcrumb-cont">
                <ul>
                    <li>
                        <a [routerLink]="['/panel']" routerLinkActive="router-link-active" >Home</a>
                    </li>
                    <li>
                        <a [routerLink]="['/panel/newmodule/add']" routerLinkActive="router-link-active" >New</a>
                    </li>
                    <li>
                        <a>Data Engine</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-12">
                <div class="row content-wrapper newModuleCont">
                    <div class="col-sm-3">
                        <h4 class="form-title">Enter details for new Data Engine module</h4>
                        <form [formGroup]="newModuleForm" class="newmoduleForm" (submit)="submitForm()">
                            <div class="form-group">
                                <label>Data Engine module name</label>
                                <mat-form-field class="w-100">
                                    <input matInput formControlName="moduleName" (change)="validateForm()">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label>Instance</label>
                                <mat-form-field class="w-100">
                                    <input matInput formControlName="instance" (change)="validateForm()">
                                </mat-form-field>
                                <!-- <mat-form-field class="w-100">
                                    <mat-select formControlName="instance" (selectionChange)="validateForm()">
                                        <mat-option *ngFor="let item of instanceList" [value]="item.id">{{item.value}}</mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                            </div>
                            <div class="form-group">
                                <label>Select core banking source</label>
                                <mat-form-field class="w-100">
                                    <mat-select formControlName="banking" (selectionChange)="bankingSourceChange()">
                                        <mat-option *ngFor="let item of bankingList" [value]="item.id">{{item.value}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label>Core Database source (pre-defined)</label>
                                <mat-form-field class="w-100">
                                    <input matInput formControlName="coredb" (change)="validateForm()">
                                </mat-form-field>
                            </div>
                            <button type="submit" class="btn btn-bluebox-secondary {{unlockCreate ? 'valid' : ''}}">Create</button>
                        </form>
                    </div>
                    <div class="col-sm-9">
                        <blx-newmodules-dataengine-flatfile *ngIf="showFlatFileComponent" (doneEvent)="doneFlatFile($event)"></blx-newmodules-dataengine-flatfile>
                        <blx-newmodules-dataengine-bankingdb *ngIf="showClientCoreBankingDBComponent"></blx-newmodules-dataengine-bankingdb>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>