<div class="row sidebar {{ opensidebar ? 'open' : 'closed' }}" >
    <div class="col-sm-12 head-sidebar">
        <ul>
            <li>
                <a>
                    <i class="material-icons yellow-icon">person</i>
                    <span>Single Client View</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/panel/newmodule']" routerLinkActive="router-link-active" >
                    <i class="material-icons green-icon">add</i>
                    <span>Create new</span>
                </a>
            </li>
        </ul>        
    </div>
    <div class="col-sm-12 middle-sidebar">
        <i class="material-icons">near_me</i>
    </div>
    <div class="col-sm-12 bottom-sidebar">
        <ul>
            <li>
                <a>
                    <img src="assets/icons/coins.svg" alt="coins">
                    <span>Data Engine</span>
                </a>
            </li>
            <li>
                <a>
                    <img src="assets/icons/cogs.svg" alt="coins">
                    <span>Rules Engine</span>
                </a>
            </li>
            <li>
                <a>
                    <img src="assets/icons/ic_description_24px.svg" alt="coins">
                    <span>Case Management</span>
                </a>
            </li>
            <li>
                <a>
                    <img src="assets/icons/calendar-alt.svg" alt="coins">
                    <span>Task Scheduler</span>
                </a>
            </li>
            <li>
                <a>
                    <img src="assets/icons/ic_assignment_turned_in_24px.svg" alt="coins">
                    <span>Approval Management</span>
                </a>
            </li>
        </ul>        
    </div>

    <a class="open_close_button" (click)="clicktoggleSidebar()" ><i class="material-icons">chevron_left</i></a>
</div>