<div *ngIf="type == 1" class="row m-b-30">
    <div class="col-auto p-r-0">
        <i class="material-icons bg-c-green feed-icon">done</i>
    </div>
    <div class="col">
        <h6 class="m-b-5">All Project task are on schedule. <span class="text-muted f-right f-13">{{ time }}</span></h6>
    </div>
</div>

<div *ngIf="type == 2" class="row m-b-30">
    <div class="col-auto p-r-0">
        <i class="material-icons bg-c-green feed-icon">done</i>
    </div>
    <div class="col">
        <h6 class="m-b-5">The system is running well, no error found. <span class="text-muted f-right f-13">{{ time }}</span></h6>
    </div>
</div>

<div *ngIf="type == 3" class="row m-b-30">
    <div class="col-auto p-r-0">
        <i class="material-icons bg-c-red feed-icon">lock_open</i>
    </div>
    <div class="col">
        <h6 class="m-b-5">You have unsecure file permission on this project. Go to <a>File Manager</a> to fix it. <span class="text-muted f-right f-13">{{ time }}</span></h6>
    </div>
</div>

<div *ngIf="type == 4" class="row m-b-30">
    <div class="col-auto p-r-0">
        <i class="material-icons bg-c-blue feed-icon">bug_report</i>
    </div>
    <div class="col">
        <h6 class="m-b-5">New <a>bug report</a> has been submitted <span class="text-muted f-right f-13">{{ time }}</span></h6>
    </div>
</div>

<div *ngIf="type == 5" class="row m-b-30">
    <div class="col-auto p-r-0">
        <i class="material-icons bg-c-red feed-icon">clear</i>
    </div>
    <div class="col">
        <h6 class="m-b-5">Background job <a>#{{data.data}}</a> has failed. See the <a>logs</a> <span class="text-muted f-right f-13">{{ time }}</span></h6>
    </div>
</div>

<div *ngIf="type == 6" class="row m-b-30">
    <div class="col-auto p-r-0">
        <i class="material-icons bg-c-green feed-icon">flag</i>
    </div>
    <div class="col">
        <h6 class="m-b-5">Project <a>{{data.data}}</a> has been flagged as finished. <span class="text-muted f-right f-13">{{ time }}</span></h6>
    </div>
</div>