<div class="card {{ fullCard }} {{ cardLoad }}" [@cardClose]="cardClose" [ngClass]="cardClass">
  <div class="card-header ripple" *ngIf="title">
    <h5>{{ title }}</h5>
    <span *ngIf="!classHeader">{{ headerContent }}</span>
    <span *ngIf="classHeader">
      <ng-content select=".code-header"></ng-content>
    </span>
    <div class="card-header-right" *ngIf="!cardOptionBlock">
      <ul class="list-unstyled card-option" [@cardIconToggle]="cardIconToggle">
        <li *ngIf="!isCardToggled" (click)="toggleCardOption()"><i class="material-icons">build</i></li>
        <li *ngIf="isCardToggled" (click)="toggleCardOption()"><i class="material-icons">close</i></li>
        <li><i class="material-icons" (click)="fullScreen($event)">zoom_out_map</i></li>
        <li><i class="material-icons" appCardToggleEvent (click)="toggleCard($event)">minimize</i></li>
        <li><i class="material-icons" (click)="cardRefresh($event)">replay</i></li>
        <li><i class="material-icons" (click)="closeCard($event)">delete_outline</i></li>
      </ul>
    </div>
  </div>

  <div [@cardToggle]="cardToggle" class="card-block-hid">
    <div class="card-block" [ngClass]="blockClass">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="card-loader" *ngIf="loadCard"><i class="fa fa-spinner rotate-refresh"></i></div>
</div>
