<div class="row content">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 title-cont">
                <h3 class="title">Dashboard</h3>
            </div>
            <div class="col-sm-12 breadcrumb-cont">
                <ul>
                    <li>
                        <a>Home</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12">
                <div class="row content-wrapper">
                    <div class="col-sm-6">
                        <app-card [title]="'Activity Feed'" [cardClass]="'feed-card'">
                            <blx-dashboard-activity-feed></blx-dashboard-activity-feed>
                        </app-card>
                    </div>
                    <div class="col-sm-6">
                        <app-card [title]="'My Tasks'" [cardClass]="'trafic-card'">
                            <blx-dashboard-my-tasks></blx-dashboard-my-tasks>
                        </app-card>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>