<h2 class="modal-title">Reset password</h2>
<form class="modal-form" (submit)="resetPassword()" [formGroup]="resetForm">
    <div class="form-row">
        <label class="col-sm-12 label-bluebox-np modal-label" for="email">USERNAME EMAIL</label>
        <div class="col-sm-12 modal-input-cont">
            <i class="material-icons">email</i>
            <input type="email" class="form-control input-bluebox" id="email" placeholder="Your Username Email" formControlName="email">
        </div>
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-bluebox">Reset</button>
    </div>
</form>