/** Colors **/
/** Colors **/
.card {
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}
.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 20px;
  position: relative;
  box-shadow: 0px 1px 20px 0px rgba(69, 90, 100, 0.08);
}
.card .card-header h5 {
  margin-bottom: 0;
  color: #37474f;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.4;
  position: relative;
  margin: 0;
}
.card .card-header h5:after {
  content: "";
  background-color: #448aff;
  position: absolute;
  left: -20px;
  top: 0;
  width: 4px;
  height: 20px;
}
.card .card-header span {
  display: block;
  font-size: 13px;
  margin-top: 5px;
}
.card .card-header .card-header-right {
  right: 10px;
  top: 13px;
  display: inline-block;
  float: right;
  padding: 7px 0;
  position: absolute;
}
.card .card-header .card-header-right i {
  margin: 0 7px;
  cursor: pointer;
  font-size: 12px;
  color: #8c8c8c;
  line-height: 2;
}
.card .card-header .card-header-right .card-option {
  width: 35px;
  height: 20px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.card .card-header .card-header-right .card-option li {
  display: inline-block;
}
.card .card-block {
  padding: 20px;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transform: scale(10, 10);
  transform: scale(10, 10);
  opacity: 0;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 1s;
  transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s;
}
.m-b-30 {
  margin-bottom: 30px;
}
.p-r-0 {
  padding-right: 0px;
}
.feed-card h6 {
  margin-top: 7px;
  font-size: 14px;
  color: #455a64;
}
.feed-card h6 a {
  color: #448aff !important;
  cursor: pointer;
}
.feed-card .feed-icon {
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 7px 0;
  line-height: 1rem;
  font-size: 1rem;
}
.trafic-card .progress {
  height: 7px;
}
.trafic-card .progress.blue {
  background-color: rgba(68, 138, 255, 0.5);
}
.trafic-card .progress.green {
  background-color: rgba(17, 193, 91, 0.5);
}
.trafic-card .progress.red {
  background-color: rgba(255, 82, 82, 0.5);
}
.trafic-card .progress.purple {
  background-color: rgba(83, 109, 254, 0.5);
}
.trafic-card .progress.yellow {
  background-color: rgba(255, 225, 0, 0.5);
}
.text-muted {
  color: #78909c !important;
}
.f-right {
  float: right;
}
.b-b-primary {
  border-bottom: 1px solid #448aff;
}
.text-primary {
  color: #448aff !important;
}
.bg-c-green {
  background: #11c15b;
}
.bg-c-red {
  background: #ff5252;
}
.bg-c-blue {
  background: #448aff;
}
.ripple {
  position: relative;
  overflow: hidden;
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}
.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}
.ripple.menu-ripple {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
}
.ripple.light:after {
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
}
.ripple {
  position: relative;
  overflow: hidden;
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}
.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}
.ripple.menu-ripple {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
}
.ripple.light:after {
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
}
@font-face {
  font-family: 'georgia';
  src: url('assets/fonts/georgia.ttf');
}
@font-face {
  font-family: 'roboto';
  src: url('assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'roboto-bold';
  src: url('assets/fonts/Roboto-Bold.ttf');
}
*,
body {
  font-family: 'roboto';
}
.auth-container .navbar {
  background: #496582;
}
.auth-container .navbar h1 {
  color: #FFFFFF;
  font-size: 1.15rem;
}
.login-fullpage {
  height: calc(100vh - 100px);
  align-items: center;
}
.login-fullpage .login-container .remember-form-cont {
  padding-left: 2.6rem;
}
.login-fullpage .login-container .forgot-new-cont {
  text-align: right;
}
.login-fullpage .login-container .forgot-new-cont .modal-toggle {
  color: #496582;
  display: block;
  cursor: pointer;
  text-decoration: none;
}
.btn-bluebox:hover {
  color: #FFFFFF;
  opacity: 0.9;
}
.btn-bluebox {
  background: #496582;
  width: 100%;
  color: #FFFFFF;
  border-radius: 0;
}
.input-bluebox {
  border-color: #496582;
  border-radius: 0;
}
.showPassword {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  user-select: none;
  color: #496582;
}
.input-bluebox:focus {
  border-color: #1475DF;
  box-shadow: none;
  border-width: 2px;
}
.label-bluebox-np {
  color: #496582;
}
.label-bluebox {
  color: #496582;
  padding-top: 0.5rem;
}
.label-bluebox-np:focus {
  box-shadow: none;
}
.checkbox-bluebox:focus {
  box-shadow: none;
}
.checkbox-bluebox:checked ~ .custom-control-label::before {
  background-color: #496582;
}
.overlay.nsm-overlay-open {
  background: rgba(255, 255, 255, 0.5);
}
.overlay {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}
.overlay .nsm-content {
  padding: 0;
}
.nsm-dialog-btn-close {
  filter: invert(1);
}
.modal-form-cont .modal-title {
  background: #496582;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.15rem;
  padding: 1rem 0;
}
.modal-form-cont .modal-form {
  border: 1px solid #000000;
  padding: 2rem;
}
.modal-form-cont .modal-form .modal-label {
  font-size: 0.7rem;
  padding-left: 45px;
  margin-bottom: 0;
}
.modal-form-cont .modal-form .modal-input-cont {
  padding-bottom: 1rem;
  border-bottom: 1px solid #496582;
  margin-bottom: 1rem;
}
.modal-form-cont .modal-form .modal-input-cont i {
  display: inline-block;
  padding-right: 1rem;
  vertical-align: top;
  color: #496582;
}
.modal-form-cont .modal-form .modal-input-cont input,
.modal-form-cont .modal-form .modal-input-cont select {
  display: inline-block;
  width: calc(100% - 40px);
  border: none;
  padding: 0;
  margin: 0;
  height: 1.25rem;
}
.panel-navbar {
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 0.5rem;
}
.panel-navbar .workplace-dropdown {
  color: #1475DF !important;
  cursor: pointer;
  font-family: 'roboto-bold';
}
.panel-navbar .workplace-dropdown::after {
  vertical-align: middle;
}
.panel-navbar .dropdown-item.active,
.panel-navbar .dropdown-item:active {
  background-color: #1475DF;
}
.panel-navbar .logo-cont {
  padding-top: 1rem;
}
.panel-navbar .logo-cont img {
  height: 3.5rem;
}
.panel-navbar .workplace-cont,
.panel-navbar .title-cont {
  padding-top: 1.5rem;
}
.panel-navbar .title-cont h1 {
  color: #496582;
  font-size: 1.15rem;
  font-family: 'roboto-bold';
}
.panel-navbar .noti-user-cont {
  text-align: right;
  padding-top: 1.5rem;
}
.panel-navbar .noti-user-cont .notifications-container .dropdown-menu {
  width: 30rem;
  left: -27rem !important;
}
.panel-navbar .noti-user-cont .notifications-container .notification-list {
  width: 30rem;
}
.panel-navbar .noti-user-cont .notifications-container .notification-list .title {
  font-style: italic;
  font-family: 'roboto-bold';
  color: #000000;
  display: block;
  padding-left: 1rem;
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 0.5rem;
}
.panel-navbar .noti-user-cont .notifications-container .notification-list .notification-wrapper ul {
  list-style: none;
  padding-left: 0;
}
.panel-navbar .noti-user-cont .notifications-container .notification-list .notification-wrapper ul li {
  border-bottom: 1px solid #D3D3D3;
  padding: 0.5rem 1rem;
}
.panel-navbar .noti-user-cont .notifications-container .notification-list .notification-wrapper ul li .icon.green {
  color: #20BB25;
}
.panel-navbar .noti-user-cont .notifications-container .notification-list .notification-wrapper ul li .icon.red {
  color: #FF0000;
}
.panel-navbar .noti-user-cont .notifications-container .notification-list .notification-wrapper ul li .icon.yellow {
  color: #FFE600;
}
.panel-navbar .noti-user-cont .notifications-container .notification-list .notification-wrapper ul li .icon {
  display: inline-block;
  vertical-align: middle;
}
.panel-navbar .noti-user-cont .notifications-container .notification-list .notification-wrapper ul li .title {
  display: inline-block;
  border: none;
  padding-bottom: 0;
  font-style: normal;
  font-weight: normal;
  color: #9A9A9A;
  font-family: 'roboto';
}
.panel-navbar .noti-user-cont .notifications-container .notification-list .notification-wrapper ul li .time {
  /*display: inline-block;*/
  float: right;
  color: #9A9A9A;
  font-weight: normal;
}
.panel-navbar .noti-user-cont .notifications-container .notification-list .bottom {
  display: block;
  text-align: center;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 0.5rem;
}
.panel-navbar .noti-user-cont .notifications::after {
  content: none;
}
.panel-navbar .noti-user-cont .notifications {
  position: relative;
  color: #496582;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}
.panel-navbar .noti-user-cont .notifications i {
  font-size: 1.8rem;
}
.panel-navbar .noti-user-cont .notifications .notifications_number {
  position: absolute;
  background: #FF0000;
  color: #FFFFFF;
  border-radius: 100%;
  text-align: center;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.8rem;
  top: 0;
  right: -7px;
}
.panel-navbar .noti-user-cont .user-dropdown {
  color: #9A9A9A !important;
  cursor: pointer;
}
.panel-navbar .noti-user-cont .user-dropdown .avatar {
  background: #9A9A9A;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  display: inline-block;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 0.5rem;
  margin-left: 1rem;
}
.panel-navbar .noti-user-cont .user-dropdown .avatar img {
  width: 100%;
}
.panel-navbar .noti-user-cont .user-dropdown .user-name {
  color: #9A9A9A;
  font-size: 1rem;
}
.panel-navbar .noti-user-cont .user-dropdown::after {
  vertical-align: middle;
}
.panel-container .navbar-panelcontainer {
  transition: 0.5s all ease-in-out;
}
.panel-container .closed .navbar-panelcontainer {
  max-width: 5rem;
}
.content-wrapper-main {
  background: #FFFFFF;
  min-height: calc(100vh - 81px);
}
.sidebar.closed .open_close_button {
  transform: rotate(180deg);
}
.sidebar.closed .middle-sidebar:after {
  width: 100%;
}
.sidebar.closed .middle-sidebar:before {
  content: none;
}
.sidebar.closed .middle-sidebar {
  height: 31px;
}
.sidebar.closed .middle-sidebar i {
  display: none;
}
.sidebar.closed .head-sidebar,
.sidebar.closed .bottom-sidebar {
  padding-left: 1.75rem;
}
.sidebar.closed .head-sidebar ul li,
.sidebar.closed .bottom-sidebar ul li {
  width: 3rem;
}
.sidebar.closed .head-sidebar ul li a span,
.sidebar.closed .bottom-sidebar ul li a span {
  transform: scaleX(0);
}
.sidebar {
  position: relative;
}
.sidebar .open_close_button {
  position: absolute;
  top: 3rem;
  right: -0.75rem;
  z-index: 99;
  background: #496582;
  color: #FFFFFF !important;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 2.1rem;
  transition: 0.75s all ease-in-out;
  cursor: pointer;
}
.sidebar .open_close_button i {
  font-size: 1.25rem;
}
.sidebar .head-sidebar {
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  padding-right: 0;
}
.sidebar .head-sidebar .yellow-icon {
  color: #FFE600;
}
.sidebar .head-sidebar .green-icon {
  color: #20BB25;
}
.sidebar .head-sidebar ul {
  list-style: none;
  padding-left: 0;
}
.sidebar .head-sidebar ul li {
  padding-top: 1.5rem;
  transition: width 0.5s linear;
  width: 100%;
  height: 3rem;
  overflow: hidden;
}
.sidebar .head-sidebar ul li a {
  cursor: pointer;
}
.sidebar .head-sidebar ul li a i {
  vertical-align: middle;
  margin-right: 1.25rem;
  font-size: 1.5rem;
  display: inline-block;
}
.sidebar .head-sidebar ul li a span {
  display: inline-block;
  font-size: 0.9rem;
  color: #9A9A9A;
  opacity: 1;
  transform: scaleX(1);
  transition: 0.75s all ease-in-out;
}
.sidebar .middle-sidebar:after {
  content: ' ';
  position: absolute;
  background: #D8D8D8;
  height: 1px;
  top: 0.75rem;
  left: 0;
  width: 1.25rem;
}
.sidebar .middle-sidebar:before {
  content: ' ';
  position: absolute;
  background: #D8D8D8;
  height: 1px;
  top: 0.75rem;
  right: 0;
  width: calc(100% - 4.75rem);
}
.sidebar .middle-sidebar {
  padding: 0;
  position: relative;
  padding-left: 2rem;
}
.sidebar .middle-sidebar i {
  font-size: 1.5rem;
  color: #FF6600;
}
.sidebar .bottom-sidebar {
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 0;
}
.sidebar .bottom-sidebar ul {
  list-style: none;
  padding-left: 0;
}
.sidebar .bottom-sidebar ul li {
  padding-top: 1.5rem;
  transition: width 0.5s linear;
  width: 100%;
  height: 3.1rem;
  overflow: hidden;
}
.sidebar .bottom-sidebar ul li a {
  cursor: pointer;
}
.sidebar .bottom-sidebar ul li a img {
  vertical-align: middle;
  margin-right: 1.25rem;
  display: inline-block;
  width: 1.25rem;
}
.sidebar .bottom-sidebar ul li a i {
  vertical-align: middle;
  margin-right: 1.25rem;
  font-size: 1.5rem;
  color: #9A9A9A;
  display: inline-block;
}
.sidebar .bottom-sidebar ul li a span {
  display: inline-block;
  font-size: 0.9rem;
  color: #9A9A9A;
  opacity: 1;
  transform: scaleX(1);
  transition: 0.75s all ease-in-out;
}
.content {
  border-left: 1px solid #D8D8D8;
  height: 100%;
}
.content .title-cont {
  padding-top: 1.5rem;
  padding-left: 2rem;
}
.content .title-cont .title {
  font-size: 1.15rem;
  color: #496582;
  font-family: 'roboto-bold';
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}
.content .breadcrumb-cont {
  padding-left: 2rem;
}
.content .breadcrumb-cont ul {
  list-style: none;
  padding-left: 0;
}
.content .breadcrumb-cont ul li:last-child::after {
  content: none;
}
.content .breadcrumb-cont ul li::after {
  content: '>';
  color: #9A9A9A;
  font-size: 0.8rem;
  vertical-align: middle;
  margin: 0 0.5rem;
}
.content .breadcrumb-cont ul li {
  display: inline-block;
}
.content .breadcrumb-cont ul li a {
  color: #9A9A9A;
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
}
.content .newModuleCont {
  border-top: 1px solid #D8D8D8;
  padding-top: 1rem;
  margin-top: 2.65rem !important;
}
.content .newModuleCont label {
  color: #496582;
  font-size: 0.8rem;
}
.content .newModuleCont .form-title {
  color: #026FC2;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.content .newModuleCont .newmoduleForm .mat-form-field-wrapper {
  padding-bottom: 0;
}
.content .newModuleCont .newmoduleForm .mat-form-field-flex {
  border: 1px solid #D1DBE3;
  border-radius: 5px;
}
.content .newModuleCont .newmoduleForm .mat-form-field-subscript-wrapper,
.content .newModuleCont .newmoduleForm .mat-form-field-underline {
  display: none;
}
.content .newModuleCont .newmoduleForm .mat-form-field-infix {
  padding: 0 !important;
}
.content .newModuleCont .newmoduleForm .mat-input-element,
.content .newModuleCont .newmoduleForm .mat-select {
  vertical-align: super;
  padding: 0 1rem;
  margin-bottom: 0.75rem;
}
.content .content-wrapper {
  padding-left: 1rem;
  margin-top: 2rem;
}
.content .content-wrapper .module-card-cont {
  padding: 1rem;
  display: flex;
}
.content .content-wrapper .module-card-cont .newinstance.module-card {
  background: #FFFFFF;
}
.content .content-wrapper .module-card-cont .newinstance.module-card .module-title {
  color: #20BB25;
}
.content .content-wrapper .module-card-cont .newinstance.module-card .module-plus {
  background: #20BB25;
}
.content .content-wrapper .module-card-cont .newinstance.module-card:hover {
  background: #FFFFFF;
}
.content .content-wrapper .module-card-cont .newinstance.module-card:hover .module-title {
  color: #20BB25;
}
.content .content-wrapper .module-card-cont .newinstance.module-card:hover .module-plus {
  background: #20BB25;
}
.content .content-wrapper .module-card-cont .module-card:hover {
  background: #D1DBE3;
}
.content .content-wrapper .module-card-cont .module-card:hover .module-title {
  color: #026FC2;
}
.content .content-wrapper .module-card-cont .module-card:hover .module-plus {
  background: #026FC2;
}
.content .content-wrapper .module-card-cont .module-card {
  cursor: pointer;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EEF2F4;
  width: 100%;
  border: 1px solid #EEF2F4;
  border-radius: 5px;
  transition: all 0.5s;
}
.content .content-wrapper .module-card-cont .module-card .module-title {
  color: #496582;
  font-size: 1.15rem;
}
.content .content-wrapper .module-card-cont .module-card .module-description {
  color: #9DAFBD;
  font-size: 0.9rem;
  width: 16rem;
  text-align: center;
}
.content .content-wrapper .module-card-cont .module-card .module-plus {
  background: #496582;
  color: #FFFFFF;
  border-radius: 100%;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
}
.content .content-wrapper .module-card-cont .module-card .module-plus i {
  line-height: 2.5rem;
}
.content .instances h1 {
  color: #026FC2;
}
.content .instances .content-wrapper {
  padding-left: 1rem;
}
.content .instances .content-wrapper .instance-card-cont {
  padding: 1rem;
  display: flex;
  text-align: center;
}
.content .instances .content-wrapper .instance-card-cont .instance-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.content .instances .content-wrapper .instance-card-cont .instance-card .square {
  border: 1px solid #9A9A9A;
  border-radius: 5px;
  min-height: 250px;
  transition: all 0.5s;
  width: 100%;
  padding: 0.5em;
}
.content .instances .content-wrapper .instance-card-cont .instance-card .square:hover {
  background: #D1DBE3;
}
.content .instances .content-wrapper .instance-card-cont .instance-card .square:hover .instance-title {
  color: #026FC2;
}
.content .instances .content-wrapper .instance-card-cont .instance-card .square .instance-title {
  color: #026FC2;
  font-size: 1.15rem;
  text-align: center;
}
.content .instances .content-wrapper .instance-card-cont .instance-card .square .instance-description {
  color: #9DAFBD;
  font-size: 0.9rem;
  text-align: center;
}
.content .instances .content-wrapper .instance-card-cont .instance-card .square .instance-plus {
  background: #496582;
  color: #FFFFFF;
  border-radius: 100%;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
}
.content .instances .content-wrapper .instance-card-cont .instance-card .square .instance-plus i {
  line-height: 2.5rem;
}
.content .instances .content-wrapper .instance-card-cont .instance-card .square img {
  height: 3rem;
  width: auto;
  margin: 2.5rem auto;
}
.content .instances .content-wrapper .instance-card-cont .instance-card .btn-bluebox2 {
  margin-top: 2rem;
}
.dashboard-card.card-right {
  margin-left: 5%;
}
.dashboard-card {
  width: 95%;
  border: 1px solid #D3D3D3;
  margin-top: 1rem;
}
.dashboard-card .card-title {
  border-bottom: 1px solid #D3D3D3;
  margin-bottom: 0;
}
.dashboard-card .card-title .title {
  vertical-align: super;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  display: inline-block;
  width: calc(100% - 8.5rem);
  color: #555555;
  font-family: 'roboto-bold';
}
.dashboard-card .card-title .title i {
  vertical-align: bottom;
}
.dashboard-card .card-title .title .helptext {
  font-size: 1rem;
  font-style: italic;
  color: #A4A4A4;
  font-weight: normal;
}
.dashboard-card .card-title .actions {
  border-left: 1px solid #D3D3D3;
  display: inline-block;
  width: 8.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.dashboard-card .card-title .actions a {
  padding: 0.5rem;
  cursor: pointer;
}
.dashboard-card .card-body {
  padding: 0;
}
.task-item:first-child {
  margin-top: 1rem;
}
.task-item:last-child {
  margin-bottom: 2rem;
}
.task-item {
  background: #F9F9F9;
  padding: 0.5rem 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.task-item .title-cont {
  margin-bottom: 0.5rem;
}
.task-item .title-cont .title {
  display: inline-block;
  width: calc(100% - 4rem);
  color: #555555;
  font-family: 'roboto';
  font-size: 1rem;
  text-transform: none;
}
.task-item .title-cont .percentage {
  width: 4rem;
  padding: 0 0.5rem;
  display: inline-block;
  text-align: center;
}
.task-item .progress {
  width: 100%;
}
.activity-item {
  background: #F9F9F9;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #D3D3D3;
}
.activity-item .icon.green i {
  color: #20BB25;
}
.activity-item .icon.red i {
  color: #FF0000;
}
.activity-item .icon.lightblue i {
  color: #46B0CF;
}
.activity-item .icon {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  background: #E4E4E4;
  border-radius: 100%;
  text-align: center;
  vertical-align: super;
}
.activity-item .icon i {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.activity-item .content {
  border: none;
  display: inline-block;
  width: calc(100% - 2.5rem);
}
.activity-item .content .title {
  margin-bottom: 0;
  color: #555555;
}
.activity-item .content .title a {
  color: #46B0CF;
  text-decoration: none;
  cursor: pointer;
}
.activity-item .content .time {
  margin-bottom: 0;
  color: #B8B8C4;
  font-size: 0.9rem;
}
ngb-progressbar {
  width: 100%;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: rgba(0, 0, 0, 0.54);
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: rgba(0, 0, 0, 0.42);
}
.btn-bluebox-edit-top {
  background: #707070;
  color: #FFFFFF !important;
  padding: 0.5rem 0.5rem;
  box-shadow: 0px 27px 73px -42px rgba(0, 0, 0, 0.52);
  font-size: 0.8rem;
  float: right;
  position: absolute;
  right: 1rem;
  top: 0;
  cursor: pointer;
}
.btn-bluebox-edit-top i {
  font-size: 0.8rem;
}
.btn-bluebox-edit-top.valid {
  background: #026FC2;
}
.btn-bluebox-secondary:hover,
.btn-bluebox2:hover {
  color: #FFFFFF;
}
.btn-bluebox2 {
  background: #026FC2;
  color: #FFFFFF;
  padding: 0.5rem 2.5rem;
  box-shadow: 0px 27px 73px -42px rgba(0, 0, 0, 0.52);
  font-size: 0.8rem;
}
.btn-bluebox-secondary {
  background: #707070;
  color: #FFFFFF;
  padding: 0.5rem 2.5rem;
  box-shadow: 0px 27px 73px -42px rgba(0, 0, 0, 0.52);
  font-size: 0.8rem;
}
.btn-bluebox-secondary.valid {
  background: #026FC2;
}
.btn-bluebox-secondary.hidden {
  display: none;
}
.expectedFiles h5 {
  color: #496582;
  font-size: 0.9rem;
  margin: 1rem 0;
}
.expectedFiles .expectedfile {
  margin-bottom: 0.5rem;
  display: inline-block;
  width: 33%;
}
.expectedFiles .expectedfile a .icon.green {
  background: #20BB25;
}
.expectedFiles .expectedfile a .icon.yellow {
  background: #ffe600;
}
.expectedFiles .expectedfile a .icon.red {
  background: #FF0000;
}
.expectedFiles .expectedfile a .icon.gray {
  background: #D1DBE3;
}
.expectedFiles .expectedfile a .icon {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  display: inline-block;
  vertical-align: super;
}
.expectedFiles .expectedfile a .filecontent {
  display: inline-block;
  padding-left: 0.5rem;
}
.expectedFiles .expectedfile a .filecontent .filename {
  margin-bottom: 0;
  color: #026FC2;
  font-size: 0.8rem;
}
.expectedFiles .expectedfile a .filecontent .filedesc {
  margin-bottom: 0;
  color: #9DAFBD;
  font-size: 0.7rem;
}
.tableforfiles {
  height: 100%;
}
.tableforfiles .files-bluebox .thead-bluebox th {
  background-color: rgba(20, 117, 223, 0.1) !important;
  color: #000000 !important;
  font-size: 0.8rem;
}
.tableforfiles .files-bluebox tbody .error1,
.tableforfiles .files-bluebox tbody .error2,
.tableforfiles .files-bluebox tbody .error3 {
  color: #FF0000;
}
.tableforfiles .files-bluebox tbody .success {
  color: #20BB25;
}
.tableforfiles .files-bluebox tbody tr th,
.tableforfiles .files-bluebox tbody tr td {
  color: #496582;
  font-size: 0.8rem;
}
.tableforfiles .files-bluebox tbody tr th i,
.tableforfiles .files-bluebox tbody tr td i {
  color: #026FC2;
  cursor: pointer;
}
.tableforfiles .buttons-cont {
  align-self: flex-end;
}
.toast-container .ngx-toastr {
  width: auto !important;
}
.example-tree-invisible {
  display: none;
}
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.example-tree-node {
  display: block;
}
.example-tree-node button {
  background: none;
  border: none;
}
.example-tree-node .mat-icon,
.example-tree-node i {
  vertical-align: middle;
}
.example-tree-node .example-tree-node {
  padding-left: 40px;
}
.mytree-card {
  padding-top: 0.5rem;
  max-height: 600px;
  height: 600px;
  overflow: auto;
}
.mytree-card .tree-card-title {
  color: #496582;
  font-size: 1rem;
  border-left: 3px solid #1475DF;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.mytree-card::-webkit-scrollbar {
  width: 0.5em;
}
.mytree-card::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.mytree-card::-webkit-scrollbar-thumb {
  background-color: rgba(73, 101, 130, 0.5);
  outline: 1px solid rgba(73, 101, 130, 0.5);
}
.rulesengine-bluebox td i.material-icons {
  font-size: 20px;
  cursor: pointer;
}
