@import './colors.less';
@import './card.less';
// General theme contents

@fontsize-lg: 1.15rem;

@font-face {
    font-family: 'georgia';
    src: url('assets/fonts/georgia.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('assets/fonts/Roboto-Bold.ttf');
}

*, body {
    font-family: 'roboto';
}

.auth-container {
    .navbar {
        background: @blue;
        h1 {
            color: @white;
            font-size: @fontsize-lg;
        }
    }
}

.login-fullpage {
    height: ~'calc(100vh - 100px)';
    align-items: center;
    .login-container {
        .remember-form-cont {
            padding-left: 2.6rem;
        }
        .forgot-new-cont {
            text-align: right;
            .modal-toggle {
                color: @blue;
                display: block;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}

.btn-bluebox:hover {
    color: @white;
    opacity: .9;
}
.btn-bluebox {
    background: @blue;
    width: 100%;
    color: @white;
    border-radius: 0;
}

.input-bluebox {
    border-color: @blue;
    border-radius: 0;
}
.showPassword {
    position: absolute;
    top: .5rem;
    right: 1rem;
    cursor: pointer;
    user-select: none;
    color: @blue;
}
.input-bluebox:focus {
    border-color: @bluefocus;
    box-shadow: none;
    border-width: 2px;
}
.label-bluebox-np {
    color: @blue;
}
.label-bluebox {
    color: @blue;
    padding-top: .5rem;
}
.label-bluebox-np:focus {
    box-shadow: none;
}
.checkbox-bluebox:focus {
    box-shadow: none;    
}

.checkbox-bluebox:checked~.custom-control-label::before{
    background-color: @blue;
}
.overlay.nsm-overlay-open {
    background: rgba(255, 255, 255, 0.5);
}
.overlay {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    .nsm-content {
        padding: 0;
    }
}
.nsm-dialog-btn-close {
    filter: invert(1);
}

.modal-form-cont {
    .modal-title {
        background: @blue;
        color: @white;
        text-align: center;
        font-size: 1.15rem;
        padding: 1rem 0;
    }
    .modal-form {
        border: 1px solid @black;
        padding: 2rem;
        .modal-label {
            font-size: .7rem;
            padding-left: 45px;
            margin-bottom: 0;
        }
        .modal-input-cont {
            padding-bottom: 1rem;
            border-bottom: 1px solid @blue;
            margin-bottom: 1rem;
            i {
                display: inline-block;
                padding-right: 1rem;
                vertical-align: top;
                color: @blue;
            }
            input, select {
                display: inline-block;
                width: ~'calc(100% - 40px)';
                border: none;
                padding: 0;
                margin: 0;
                height: 1.25rem;
            }
        }
    }
}

.panel-navbar {
    border-bottom: 1px solid @grayline;
    padding-bottom: .5rem;
    .workplace-dropdown {
        color: @bluefocus !important;
        cursor: pointer;
        font-family: 'roboto-bold';
    }
    .workplace-dropdown::after {
        vertical-align: middle;
    }
    .dropdown-item.active, .dropdown-item:active {
        background-color: @bluefocus;
    }
    .logo-cont {
        padding-top: 1rem;
        img {
            height: 3.5rem;
        }
    }
    .workplace-cont, .title-cont {
        padding-top: 1.5rem;
    }

    .title-cont { 
        h1 {
            color: @blue;
            font-size: @fontsize-lg;
            font-family: 'roboto-bold';
        }
    }

    .noti-user-cont {
        text-align: right;
        padding-top: 1.5rem;
        .notifications-container {
            .dropdown-menu {
                width: 30rem;
                left: -27rem !important;
            }
            .notification-list {
                width: 30rem;
                .title {
                    font-style: italic;
                    font-family: 'roboto-bold';
                    color: @black;
                    display: block;
                    padding-left: 1rem;
                    border-bottom: 1px solid @darkgrayline;
                    padding-bottom: .5rem;
                }
                .notification-wrapper {
                    ul {
                        list-style: none;
                        padding-left: 0;
                        li {
                            border-bottom: 1px solid @darkgrayline;
                            padding: .5rem 1rem;
                            .icon.green{
                                color: @green;
                            }
                            .icon.red{
                                color: @red;
                            }
                            .icon.yellow{
                                color: @yellow;
                            }
                            .icon {
                                display: inline-block;
                                vertical-align: middle;
                            }
                            .title {
                                display: inline-block;
                                border: none;
                                padding-bottom: 0;
                                font-style: normal;
                                font-weight: normal;
                                color: @gray;
                                font-family: 'roboto';
                            }
                            .time {
                                /*display: inline-block;*/
                                float: right;
                                color: @gray;
                                font-weight: normal;
                            }
                        }
                    }
                }
                .bottom {
                    display: block;
                    text-align: center;
                    color: @black;
                    text-decoration: none;
                    cursor: pointer;
                    padding-bottom: .5rem;
                }
            }
        }
        .notifications::after{
            content: none;
        }
        .notifications {
            position: relative;
            color: @blue;
            height: 2rem;
            margin-left: 1rem;
            margin-right: .5rem;
            display: inline-block;
            vertical-align: middle;
            i {
                font-size: 1.8rem;
            }
            .notifications_number {
                position: absolute;
                background: @red;
                color: @white;
                border-radius: 100%;
                text-align: center;
                width: 1.25rem;
                height: 1.25rem;
                line-height: 1.25rem;
                font-size: .8rem;
                top: 0;
                right: -7px;
            }
        }
        .user-dropdown {
            color: @gray !important;
            cursor: pointer;
            .avatar {
                background: @gray;
                width: 2rem;
                height: 2rem;
                overflow: hidden;
                display: inline-block;
                border-radius: 100%;
                vertical-align: middle;
                margin-right: .5rem;
                margin-left: 1rem;
                img {
                    width: 100%;
                }
            }
            .user-name {
                color: @gray;
                font-size: 1rem;
            }
        }
        .user-dropdown::after {
            vertical-align: middle;
        }
    }
}

.panel-container {
    .navbar-panelcontainer {
        transition: .5s all ease-in-out;
    }
    .closed {
        .navbar-panelcontainer {
            max-width: 5rem;
        }
    }
}

.content-wrapper-main {
    background: @white;
    min-height: ~'calc(100vh - 81px)';
}


.sidebar.closed {
    .open_close_button {
        transform: rotate(180deg);
    }
    .middle-sidebar:after{
        width: 100%;
    }
    .middle-sidebar:before{
        content: none;
    }
    .middle-sidebar {
        height: 31px;
        i {
            display: none;
        }
    }
    .head-sidebar, .bottom-sidebar {
        padding-left: 1.75rem;
        ul {
            li {
                width: 3rem;
                a {
                    span {
                        transform: scaleX(0);
                    }
                }
            }
        }
    }
}

.sidebar {
    position: relative;
    .open_close_button {
        position: absolute;
        top: 3rem;
        right: -.75rem;
        z-index: 99;
        background: @blue;
        color: @white !important;
        border-radius: 100%;
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        line-height: 2.1rem;
        transition: .75s all ease-in-out;
        cursor: pointer;
        i {
            font-size: 1.25rem;
        }
    }
    .head-sidebar {
        padding-left: 2rem;
        padding-bottom: 0.5rem;
        padding-right: 0;
        .yellow-icon {
            color: @yellow;
        }
        .green-icon {
            color: @green;
        }
        ul {
            list-style: none;
            padding-left: 0;
            li {
                padding-top: 1.5rem;
                transition: width .5s linear;
                width: 100%;
                height: 3rem;
                overflow: hidden;
                a {
                    cursor: pointer;
                    i {
                        vertical-align: middle;
                        margin-right: 1.25rem;
                        font-size: 1.5rem;
                        display: inline-block;
                    }
                    span {
                        display: inline-block;
                        font-size: .9rem;
                        color: @gray;
                        opacity: 1;
                        transform: scaleX(1);
                        transition: .75s all ease-in-out;
                    }
                }
            }
        }
    }
    .middle-sidebar:after{
        content: ' ';
        position: absolute;
        background: @grayline;
        height: 1px;
        top: .75rem;
        left: 0;
        width: 1.25rem;
    }
    .middle-sidebar:before{
        content: ' ';
        position: absolute;
        background: @grayline;
        height: 1px;
        top: .75rem;
        right: 0;
        width: ~'calc(100% - 4.75rem)';
    }
    .middle-sidebar {
        padding: 0;
        position: relative;
        padding-left: 2rem;
        i {
            font-size: 1.5rem;
            color: @orange;
        }
    }
    .bottom-sidebar {
        padding-bottom: 1.5rem;
        padding-left: 2rem;
        padding-right: 0;
        ul {
            list-style: none;
            padding-left: 0;
            li {
                padding-top: 1.5rem;
                transition: width .5s linear;
                width: 100%;
                height: 3.1rem;
                overflow: hidden;
                a {
                    cursor: pointer;
                    img {
                        vertical-align: middle;
                        margin-right: 1.25rem;
                        display: inline-block;
                        width: 1.25rem;
                    }
                    i {
                        vertical-align: middle;
                        margin-right: 1.25rem;
                        font-size: 1.5rem;
                        color: @gray;
                        display: inline-block;
                    }
                    span {
                        display: inline-block;
                        font-size: .9rem;
                        color: @gray;
                        opacity: 1;
                        transform: scaleX(1);
                        transition: .75s all ease-in-out;
                    }
                }
            }
        }
    }
}

.content {
    border-left: 1px solid @grayline;
    height: 100%;
    .title-cont {
        padding-top: 1.5rem;
        padding-left: 2rem;
        .title {
            font-size: @fontsize-lg;
            color: @blue;
            font-family: 'roboto-bold';
            text-transform: uppercase;
            margin-bottom: .25rem;
        }
    }
    .breadcrumb-cont {
        padding-left: 2rem;
        ul {
            list-style: none;
            padding-left: 0;
            li:last-child::after {
                content: none;
            }
            li::after {
                content: '>';
                color: @gray;
                font-size: .8rem;
                vertical-align: middle;
                margin: 0 .5rem;
            }
            li {
                display: inline-block;
                a {
                    color: @gray;
                    font-size: .9rem;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
    .newModuleCont {
        border-top: 1px solid @grayline;
        padding-top: 1rem;
        margin-top: 2.65rem !important;
        label {
            color: #496582;
            font-size: .8rem;
        }
        .form-title {
            color: #026FC2;
            font-size: 1rem;
            margin-bottom: 2rem;
        }
        .newmoduleForm {
            
            .mat-form-field-wrapper {
                padding-bottom: 0;
            }
            .mat-form-field-flex {
                border: 1px solid #D1DBE3;
                border-radius: 5px;
            }
            .mat-form-field-subscript-wrapper, .mat-form-field-underline {
                display: none;
            }
            .mat-form-field-infix {
                padding: 0 !important;
            }
            .mat-input-element, .mat-select {
                vertical-align: super;
                padding: 0 1rem;
                margin-bottom: .75rem;
            }
            
        }
    }


    .content-wrapper {
        padding-left: 1rem;
        margin-top: 2rem;

        .module-card-cont {
            padding: 1rem;            
            display: flex;
            .newinstance.module-card {
                background: @white;
                .module-title {
                    color: #20BB25;
                }
                .module-plus {
                    background: #20BB25;
                }
            }
            .newinstance.module-card:hover {
                background: @white;
                .module-title {
                    color: #20BB25;
                }
                .module-plus {
                    background: #20BB25;
                }
            }
            .module-card:hover{
                background: #D1DBE3;
                .module-title {
                    color: #026FC2;
                }
                .module-plus {
                    background: #026FC2;
                }
            }
            .module-card {
                cursor: pointer;
                padding: 3rem 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #EEF2F4;
                width: 100%;
                border: 1px solid #EEF2F4;
                border-radius: 5px;
                transition: all .5s;
                .module-title {
                    color: @blue;
                    font-size: 1.15rem;
                }
                .module-description {
                    color: #9DAFBD;
                    font-size: .9rem;
                    width: 16rem;
                    text-align: center;
                }
                .module-plus {
                    background: @blue;
                    color: @white;
                    border-radius: 100%;
                    text-align: center;
                    width: 2.5rem;
                    height: 2.5rem;
                    i {
                        line-height: 2.5rem;
                    }
                }
            }
        }

    }
    .instances{
        h1{
            color: #026FC2;
        }
        .content-wrapper {
            padding-left: 1rem;
            .instance-card-cont {
                padding: 1rem;
                display: flex;        
                text-align: center;
                
                .instance-card {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    .square{
                        border: 1px solid #9A9A9A;
                        border-radius: 5px;
                        min-height: 250px;
                        transition: all .5s;
                        width: 100%;
                        padding: .5em;
                        &:hover{
                            background: #D1DBE3;
                            .instance-title {
                                color: #026FC2;
                            }
                        }
                        .instance-title {
                            color: #026FC2;
                            font-size: 1.15rem;
                            text-align: center;
                        }
                        .instance-description {
                            color: #9DAFBD;
                            font-size: .9rem;
                            text-align: center;
                        }
                        .instance-plus {
                            background: @blue;
                            color: @white;
                            border-radius: 100%;
                            text-align: center;
                            width: 2.5rem;
                            height: 2.5rem;
                            i {
                                line-height: 2.5rem;
                            }
                        }
                        img{
                            height: 3rem;
                            width: auto;
                            margin: 2.5rem auto;
                        }
                    }
                    .btn-bluebox2{
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}
.dashboard-card.card-right {
    margin-left: 5%;
}
.dashboard-card {
    width: 95%;
    border: 1px solid @darkgrayline;
    margin-top: 1rem;
    .card-title {
        border-bottom: 1px solid @darkgrayline;
        margin-bottom: 0;
        .title {
            vertical-align: super;
            padding-bottom: .5rem;
            padding-left: 1rem;
            display: inline-block;
            width: ~'calc(100% - 8.5rem)';
            color: @darkgraytext;
            font-family: 'roboto-bold';
            i {
                vertical-align: bottom;
            }
            .helptext {
                font-size: 1rem;
                font-style: italic;
                color: #A4A4A4;
                font-weight: normal;
            }
        }
        .actions {
            border-left: 1px solid @darkgrayline;
            display: inline-block;
            width: 8.5rem;
            padding-top: 1rem;
            padding-bottom: .5rem;
            padding-left: .5rem;
            a {
                padding: .5rem;
                cursor: pointer;
            }
        }
    }
    .card-body {
        padding: 0;
    }
}
.task-item:first-child {
    margin-top: 1rem;
}
.task-item:last-child {
    margin-bottom: 2rem;
}
.task-item {
    background: @listbackground;
    padding: .5rem 1rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    .title-cont {
        margin-bottom: .5rem;
        .title {
            display: inline-block;
            width: ~'calc(100% - 4rem)';
            color: @darkgraytext;
            font-family: 'roboto';
            font-size: 1rem;
            text-transform: none;
        }
        .percentage {
            width: 4rem;
            padding: 0 .5rem;
            display: inline-block;
            text-align: center;
        }
    }
    .progress {
        width: 100%;
    }
}

.activity-item {
    background: @listbackground;
    padding: .5rem 1rem;
    border-bottom: 1px solid @darkgrayline;
    .icon.green {
        i {
            color: @green;
        }
    }
    .icon.red {
        i {
            color: @red;
        }
    }
    .icon.lightblue {
        i {
            color: @lightblue;
        }
    }
    .icon {
        display: inline-block;
        height: 2.5rem;
        width: 2.5rem;
        background: @iconbackground;
        border-radius: 100%;
        text-align: center;
        vertical-align: super;
        i {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }
    .content {
        border: none;
        display: inline-block;
        width: ~'calc(100% - 2.5rem)';
        .title {
            margin-bottom: 0;
            color: @darkgraytext;
            a {
                color: @lightblue;
                text-decoration: none;
                cursor: pointer;
            }
        }
        .time {
            margin-bottom: 0;
            color: @lightgray;
            font-size: .9rem;
        }
    }
}
ngb-progressbar {
    width: 100%;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: rgba(0,0,0,.54);
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: rgba(0,0,0,.42);
}
.btn-bluebox-edit-top{
    background: #707070;
    color: @white !important;
    padding: .5rem .5rem;
    box-shadow: 0px 27px 73px -42px rgba(0, 0, 0, 0.52);
    font-size: .8rem;
    float: right;
    position: absolute;
    right: 1rem;
    top: 0;
    cursor: pointer;
    i{
        font-size: .8rem;
    }
}
.btn-bluebox-edit-top.valid{
    background: #026FC2;
}
.btn-bluebox-secondary:hover, .btn-bluebox2:hover{
    color: @white;
}
.btn-bluebox2  {
    background: #026FC2;
    color: @white;
    padding: .5rem 2.5rem;
    box-shadow: 0px 27px 73px -42px rgba(0,0,0,0.52);
    font-size: .8rem;
}
.btn-bluebox-secondary {
    background: #707070;
    color: @white;
    padding: .5rem 2.5rem;
    box-shadow: 0px 27px 73px -42px rgba(0,0,0,0.52);
    font-size: .8rem;
}
.btn-bluebox-secondary.valid {
    background: #026FC2;
}
.btn-bluebox-secondary.hidden {
    display: none;
}

.expectedFiles {
    h5 {
        color: @blue;
        font-size: .9rem;
        margin: 1rem 0;
    }
    
    .expectedfile {
        margin-bottom: .5rem;
        display: inline-block;
        width: 33%;
        a {
            .icon.green {
                background: #20BB25;
            }
            .icon.yellow {
                background: #ffe600;
            }
            .icon.red {
                background: #FF0000;
            }
            .icon.gray {
                background: #D1DBE3;
            }
            .icon {
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                display: inline-block;
                vertical-align: super;
            }
            .filecontent {
                display: inline-block;
                padding-left: .5rem;
                .filename {
                    margin-bottom: 0;
                    color: #026FC2;
                    font-size: .8rem;
                }
                .filedesc {
                    margin-bottom: 0;
                    color: #9DAFBD;
                    font-size: .7rem;
                }
            }
        }
    }
}

.tableforfiles {
    height: 100%;
    .files-bluebox {
    
        .thead-bluebox {
            th {
                background-color: rgba(20, 117, 223, .1) !important;
                color: @black !important;
                font-size: .8rem;
            }
        }

        tbody {
            .error1, .error2, .error3 {
                color: #FF0000;
            }
            .success {
                color: #20BB25;
            }
            tr {
                th, td {
                    color: @blue;
                    font-size: .8rem;
                    i {
                        color: #026FC2;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .buttons-cont {
        align-self: flex-end;
    }
}

.toast-container .ngx-toastr {
    width: auto !important;
}

.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .example-tree-node {
    display: block;
    button {
      background: none;
      border: none;
    }
    .mat-icon, i {
      vertical-align: middle;
    }
  }
  
  .example-tree-node .example-tree-node {
    padding-left: 40px;
  }
.mytree-card {
    padding-top: .5rem;
    max-height: 600px;
    height: 600px;
    overflow: auto;
    .tree-card-title {
        color: #496582;
        font-size: 1rem;
        border-left: 3px solid #1475DF;
        padding-left: .5rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
}

.mytree-card::-webkit-scrollbar {
    width: .5em;
}
 
.mytree-card::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.mytree-card::-webkit-scrollbar-thumb {
  background-color: rgba(73, 101, 130, 0.5);
  outline: 1px solid rgba(73, 101, 130, 0.5);
}

.rulesengine-bluebox{
    td i.material-icons{
        font-size: 20px;
        cursor: pointer;
    }
}