.card {
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}
.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 20px;
  position: relative;
  box-shadow: 0px 1px 20px 0px rgba(69, 90, 100, 0.08);
}
.card .card-header h5 {
  margin-bottom: 0;
  color: #37474f;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.4;
  position: relative;
  margin: 0;
}
.card .card-header h5:after {
  content: "";
  background-color: #448aff;
  position: absolute;
  left: -20px;
  top: 0;
  width: 4px;
  height: 20px;
}
.card .card-header span {
  display: block;
  font-size: 13px;
  margin-top: 5px;
}
.card .card-header .card-header-right {
  right: 10px;
  top: 13px;
  display: inline-block;
  float: right;
  padding: 7px 0;
  position: absolute;
}
.card .card-header .card-header-right i {
  margin: 0 7px;
  cursor: pointer;
  font-size: 12px;
  color: #8c8c8c;
  line-height: 2;
}
.card .card-header .card-header-right .card-option {
  width: 35px;
  height: 20px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.card .card-header .card-header-right .card-option li {
  display: inline-block;
}
.card .card-block {
  padding: 20px;
}
.card-header:first-child {
  border-radius: calc(-0.75rem) calc(-0.75rem) 0 0;
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transform: scale(10, 10);
  transform: scale(10, 10);
  opacity: 0;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: transform .5s, opacity 1s;
  transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s;
}
.m-b-30 {
  margin-bottom: 30px;
}
.p-r-0 {
  padding-right: 0px;
}
.feed-card h6 {
  margin-top: 7px;
  font-size: 14px;
  color: #455a64;
}
.feed-card h6 a {
  color: #448aff !important;
  cursor: pointer;
}
.feed-card .feed-icon {
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 7px 0;
  line-height: 1rem;
  font-size: 1rem;
}
.trafic-card .progress {
  height: 7px;
}
.trafic-card .progress.blue {
  background-color: rgba(68, 138, 255, 0.5);
}
.trafic-card .progress.green {
  background-color: rgba(17, 193, 91, 0.5);
}
.trafic-card .progress.red {
  background-color: rgba(255, 82, 82, 0.5);
}
.trafic-card .progress.purple {
  background-color: rgba(83, 109, 254, 0.5);
}
.trafic-card .progress.yellow {
  background-color: rgba(255, 225, 0, 0.5);
}
.text-muted {
  color: #78909c !important;
}
.f-right {
  float: right;
}
.b-b-primary {
  border-bottom: 1px solid #448aff;
}
.text-primary {
  color: #448aff !important;
}
.bg-c-green {
  background: #11c15b;
}
.bg-c-red {
  background: #ff5252;
}
.bg-c-blue {
  background: #448aff;
}
.ripple {
  position: relative;
  overflow: hidden;
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
.ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}
.ripple.menu-ripple {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
}
.ripple.light:after {
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
}
.ripple {
  position: relative;
  overflow: hidden;
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
.ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}
.ripple.menu-ripple {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
}
.ripple.light:after {
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
}
