/** Colors **/

@blue: #496582;
@bluefocus: #1475DF;
@white: #FFFFFF;
@black: #000000;
@red: #FF0000;
@gray: #9A9A9A;
@grayline: #D8D8D8;
@darkgrayline: #D3D3D3;
@darkgraytext: #555555;
@lightgray: #B8B8C4;
@graybackground: #F1F1F1;
@yellow: #FFE600;
@green: #20BB25;
@orange: #FF6600;
@lightblue: #46B0CF;
@iconbackground: #E4E4E4;
@listbackground: #F9F9F9;

/** Colors **/