<div class="row content">
    <div class="col-sm-12">
        
        <div class="row new-module-engine">
            <div class="col-sm-12 title-cont">
                <h3 class="title">New Instance</h3>
            </div>
            <div class="col-sm-12 breadcrumb-cont">
                <ul>
                    <li>
                        <a [routerLink]="['/panel']" routerLinkActive="router-link-active" >Home</a>
                    </li>
                    <li>
                        <a [routerLink]="['/panel/instances/view']" routerLinkActive="router-link-active" >New</a>
                    </li>
                    <li>
                        <a>Instance</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-12">
                <div class="row content-wrapper newModuleCont">
                    <div class="col-sm-3">
                        <h4 class="form-title">Enter details for new instance</h4>
                        <form [formGroup]="newInstanceForm" class="newmoduleForm" (submit)="submitForm()">
                            <div class="form-group">
                                <label>New instance name</label>
                                <mat-form-field class="w-100">
                                    <input matInput formControlName="instanceName" (change)="validateForm()">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label>Select location for instance</label>
                                <mat-form-field class="w-100">
                                    <mat-select formControlName="dirtreeName" (selectionChange)="showdirtree()">
                                        <mat-option *ngFor="let item of treeList" [value]="item.id">{{item.value}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <button type="submit" class="btn btn-bluebox-secondary {{unlockCreate ? 'valid' : ''}}">Create</button>
                        </form>
                    </div>
                    <div class="col-sm-4 card mytree-card" *ngIf="showtree">
                        <blx-newinstances-instance-dirtree (folderChange)="onFolderChange($event)"></blx-newinstances-instance-dirtree>
                    </div>
                </div>
            </div>

    </div>
</div>