<div class="row content">
    <div class="col-sm-12">
        <div class="row new-module">
            <div class="col-sm-12 title-cont">
                <h3 class="title">New Module</h3>
            </div>
            <div class="col-sm-12 breadcrumb-cont">
                <ul>
                    <li>
                        <a [routerLink]="['/panel']" routerLinkActive="router-link-active" >Home</a>
                    </li>
                    <li>
                        <a>New</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-12">
                <div class="row content-wrapper">
                    <div class="col-sm-4 module-card-cont">
                        <div class="module-card" [routerLink]="['/panel/newmodule/newengine']" routerLinkActive="router-link-active" >
                            <h4 class="module-title">Data Engine</h4>
                            <p class="module-description">Create a new data engine module for current instance</p>
                            <span class="module-plus"><i class="material-icons green-icon">add</i></span>
                        </div>
                    </div>
                    <div class="col-sm-4 module-card-cont">
                        <div class="module-card">
                            <h4 class="module-title">Rules Engine</h4>
                            <p class="module-description">Create a new rules engine module for current instance</p>
                            <span class="module-plus"><i class="material-icons green-icon">add</i></span>
                        </div>
                    </div>
                    <div class="col-sm-4 module-card-cont">
                        <div class="module-card">
                            <h4 class="module-title">Case Management</h4>
                            <p class="module-description">Create a new case management module for current instance</p>
                            <span class="module-plus"><i class="material-icons green-icon">add</i></span>
                        </div>
                    </div>
                    <div class="col-sm-4 module-card-cont">
                        <div class="module-card">
                            <h4 class="module-title">Task Scheduler</h4>
                            <p class="module-description">Create a new task scheduler module for current instance</p>
                            <span class="module-plus"><i class="material-icons green-icon">add</i></span>
                        </div>
                    </div>
                    <div class="col-sm-4 module-card-cont">
                        <div class="module-card">
                            <h4 class="module-title">Approval Management</h4>
                            <p class="module-description">Create a new approval management module for current instance</p>
                            <span class="module-plus"><i class="material-icons green-icon">add</i></span>
                        </div>
                    </div>
                    <div class="col-sm-4 module-card-cont">
                        <div class="newinstance module-card" [routerLink]="['/panel/instances/add']">
                            <h4 class="module-title">New Instance</h4>
                            <p class="module-description">Create a new instance</p>
                            <span class="module-plus"><i class="material-icons green-icon">add</i></span>
                        </div>
                    </div>
                </div>                
            </div>
        </div>                
    </div>
</div>