<div class="row">
    <div class="col-sm-12">
        <h2 class="tree-card-title">Select location (black folder) for new instance</h2>
    </div>
    <div class="col-sm-12">
        <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">
                <button mat-icon-button disabled>
                <i class="material-icons image-type">select_all</i>
                {{node.name}}
                </button>
            </cdk-nested-tree-node>
            
            <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node">
                <button mat-icon-button [attr.aria-label]="'toggle ' + node.name" cdkTreeNodeToggle (click)="setSelected(node.name)">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
                <i *ngIf="node.level == 0" class="material-icons image-type">public</i>
                <i *ngIf="node.level > 0 " class="material-icons image-type">folder</i>
                {{node.name}}
                </button>
                <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container cdkTreeNodeOutlet></ng-container>
                </div>
            </cdk-nested-tree-node>
            </cdk-tree>

    </div>
</div>