<blx-dashboard-activity *ngFor="let item of activities_list" [data]="item.data" [time]="item.time" [type]="item.type"></blx-dashboard-activity>

<div class="text-center">
    <a href="javascript:" class="b-b-primary text-primary">View all Feeds</a>
</div>