<div class="row content">
    <div class="col-sm-12">
        
        <div class="row">
            <div class="col-sm-12 title-cont">
                <h3 class="title">Default Rules Engine Manager</h3>
            </div>
            <div class="col-sm-12 breadcrumb-cont">
                <ul>
                    <li>
                        <a [routerLink]="['/panel/instances/view']" routerLinkActive="router-link-active" >Home</a>
                    </li>
                    <li>
                        <a [routerLink]="['/panel/configmodule/rulesengine']" routerLinkActive="router-link-active" >Rules Engine</a>
                    </li>
                    <li>
                        <a> Default Rules Engine</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-12">
                <div class="row content-wrapper">
                    <div class="col-sm-12">
                        <table class="table rulesengine-bluebox">
                            <thead class="thead-light thead-bluebox">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">RULES NAME </th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">PROGRESS</th>
                                    <th scope="col">LAST UPDATED USER</th>
                                    <th scope="col">LAST UPDATED DATE</th>
                                    <th scope="col">ACTIONS</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let item of listRulesEngines">
                                    <th scope="row">{{ item.id }}</th>
                                    <td>{{ item.name }}</td>
                                    <td *ngIf="item.status == 1" class="success"><i class="material-icons">check_circle</i></td>
                                    <td *ngIf="item.status == 2" class="warning"><i class="material-icons">info</i></td>
                                    <td *ngIf="item.status == 3" class="error"><i class="material-icons">error</i></td>
                                    <td>
                                        <mat-progress-bar mode="determinate" value="{{ transformProgress(item.progress) }}"></mat-progress-bar>
                                        <small>{{ transformProgress(item.progress) }}% </small><small>{{ item.progress }} of 6 steps</small>
                                    </td>
                                    <td>{{ item.last_updated_user }}</td>
                                    <td>{{ item.last_updated_date | date : "d MMM y" }}</td>
                                    <td><i class="material-icons" (click)="editItem(item)">edit</i>
                                        <i class="material-icons" (click)="exportItem(item)">insert_drive_file</i>
                                        <i class="material-icons" (click)="assignItem(item)">group</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

    </div>
</div>