<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header ripple">
                <h5>Browse for flat files</h5>
            </div>

            <div class="card-block-hid">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 expectedFiles">
                            <h5>Expected files:</h5>
                            <div class="row">
                                <div class="col-sm-4 expectedfile" *ngFor="let item of expectedFilesList">
                                    <a>
                                        <span *ngIf="item.status == 1" class="icon green"></span>
                                        <span *ngIf="item.status == 2" class="icon yellow"></span>
                                        <span *ngIf="item.status == 3" class="icon red"></span>
                                        <span *ngIf="item.status == 4" class="icon gray"></span>
                                        <div class="filecontent">
                                            <p class="filename">{{ item.filename }}.csv</p>
                                            <p class="filedesc">{{ item.description }}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row tableforfiles">

                                <div class="col-sm-12">
                                    <input type="file" accept=".csv" #file style="display: none"
                                        (change)="onFilesAdded()"
                                        multiple/>
                                    <table class="table files-bluebox">
                                        <thead class="thead-light thead-bluebox">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">NAME</th>
                                                <th scope="col">UPLOAD STATUS</th>
                                                <th scope="col">SIZE</th>
                                                <th scope="col">PROCESSING STATUS</th>
                                                <th scope="col">TIMESTAMP</th>
                                                <th scope="col">ACTION</th>
                                            </tr>
                                        </thead>
        
                                        <tbody>
                                            <tr *ngFor="let item of files; let i = index">
                                                <th scope="row">{{i + 1}}</th>
                                                <td>{{ item.name }}</td>
                                                <td *ngIf="item.statuscode == 0">{{ item.status }}</td>
                                                <td *ngIf="item.statuscode == 200" class="success">{{ item.status }}</td>
                                                <td *ngIf="item.statuscode == 400" class="error1">{{ item.status }}</td>
                                                <td>{{ item.size }}</td>
                                                <td>{{ item.processtatus }}</td>
                                                <td>{{ item.timestamp | date:'mediumTime' }}</td>
                                                <td><i class="material-icons" (click)="deleteItem(item)">delete</i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-12 buttons-cont">
                                    <div class="row justify-content-end">
                                        <div class="col-sm-6 text-right">
                                            <button class="btn btn-bluebox2 mr-2" (click)="addFiles()">Browse</button>
                                            <button class="btn btn-bluebox-secondary {{unlockDone ? 'valid' : ''}}" (click)="doneClick()">Upload</button>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>
                </div>
            </div>
          
            <div class="card-loader" *ngIf="loadCard"><i class="fa fa-spinner rotate-refresh"></i></div>
        </div>
    </div>
</div>