<div class="container-fluid panel-container">
    <blx-navbar></blx-navbar>
    <div class="row {{opensidebar ? 'opened' : 'closed'}}">
        <div class="col-sm-2 navbar-panelcontainer">
            <blx-sidebar (toggleSidebar)="toggleSidebar()" [opensidebar]="opensidebar"></blx-sidebar>
        </div>
        <div class="col content-wrapper-main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>